!!!
!= '<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">'
%html
  %head
    %title
      dxdt.io Change Over Time
    %link(rel="stylesheet" href="/app.css?#{q}" media="all")
    %script{src: "/transitive.js?#{q}"}
    %script{src: "/templates.js?#{q}"}
    :script
      Transitive = require("./transitive");
      Transitive.Views.templates = require("./templates.js");
      jQuery = $;
      if(window.console){}else{
        console = {};
        console.log = function(){}
      }
    %script{src: "/jquery.flot.js?#{q}"}
    %script{src: "/jquery.flot.selection.js?#{q}"}
    %script{src: "/twipsy.js?#{q}"}
    != "<!--[if lt IE 9]>"
    != '<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>'
    != "<![endif]-->"
    :script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26084577-1']);
      _gaq.push(['_setDomainName', 'dxdt.io']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  %body.marketing
    %div( class="topbar")
      %div( class="fill")
        %div( class="container")
          %h3
            %a(href="/" style="letter-spacing:3px;")
              %img(src="/logotype-small.png" width="52px" height="22px")
          %ul
            %li
              %a(style="letter-spacing:2px") (877) 250-4337
          - if(!this.app.hideTopNav){
          %ul
            %li
              %a(href="/features") Features
            %li
              %b
                %a(href="/plans") Plans & Pricing
            %li
              %a(href="mailto:support@dxdt.io") Support
          %ul.secondary-nav
            %li
              %form
                %input.username(placeholder="Email Address")
                %input.password(placeholder="Password" type="password")
                %a.login(href="#toggle") Log In
          - }
          
    != content
    .container.footer
      .vspace
      .row
        .span4.darker
          Got questions? <a href="mailto:questions@dxdt.io"> We're happy to help.</a> 
        .span8.shhhh(style="text-align:center")
          &copy; 2011 
          %a(href="http://xitive.com")>
            <b>X</b>itive Inc
        .span4.shhhh
          %a(href="/terms")>
            Terms of Service
          &nbsp;&nbsp;
          %a(href="/privacy")>
            Privacy Policy
          
      .vspace
    :script
      !{etc}
      Transitive.boot();
      $(function () {
        $("a[rel=twipsy]").twipsy({
          live: false,
          animate: false
        })
      });
      

      
      