-
  this.app.hideCrumbs = true;

.app
.home
  .vspace
  .body.container
    .vspace
    .container.main
      .row        
        .span8
          .row
            .span8.plans
              %h1
                Plans
                %small> 100% SSL. 4 Week data retention.
              .row
                .span4
                  %h2
                    Small
                    .price> $49
                      .price= "/mo"
                  %p 
                    <b>4</b> Servers
                .span4
                  %h2
                    Medium
                    .price> $95
                      .price= "/mo"
                  %p
                    <b>8</b> Servers
              .vspace
              .row
                .span4
                  %h2
                    Large
                    .price> $195
                      .price= "/mo"
                  %p 
                    <b>18</b> Servers
                .span4
                  %h2
                    X-Large
                    .price> $495
                      .price= "/mo"
                  %p 
                    <b>50</b> Servers
          .row
            .vspace2
            .span8
              %div(style="padding:0 0px")
                %h2 Have more than 50 servers?
                %p
                  %a(href="mailto:custom@dxdt.io")> Email Us
                  for volume discounts.
        .span8
          %form(method="POST" action="/signup" autocomplete="off")
            %fieldset
              %legend
                Monitor Everything
                %br
                in One Minute
              != this.render("marketing/signup_fields")
              .actions(style="background:none;border:none;margin-top:0px")
                %button.btn.primary(type="submit" value="Create Account" tabindex=6)
                  %b Start FREE 30-Day Trial »                
                %br
                %br              
                %p
                  %span.label(style="font-size:14px")> Next:
                  Paste one line in your terminal.
        .clear

:javascript
  $(function(){
    $('#email').focus();
  })