-
  this.app.hideTopNav = true;

.app
.home
  .vspace
  .body.container.rounded
    .vspace
    .container.main
      .row        
        .span8
          .row
            .span8.plans
              %h1
                Plans
                %small> 100% SSL. 4 Week data retention.
              .row
                .span4
                  %h2
                    Small
                    .price> $49
                      .price= "/mo"
                  %p 
                    <b>4</b> Servers
                .span4
                  %h2
                    Medium
                    .price> $95
                      .price= "/mo"
                  %p
                    <b>8</b> Servers
              .vspace
              .row
                .span4
                  %h2
                    Large
                    .price> $195
                      .price= "/mo"
                  %p 
                    <b>18</b> Servers
                .span4
                  %h2
                    X-Large
                    .price> $495
                      .price= "/mo"
                  %p 
                    <b>50</b> Servers
          .row
            .vspace2
            .span8
              %div(style="padding:0 0px")
                %h2 Have more than 50 servers?
                %p
                  %a(href="mailto:custom@dxdt.io")> Email
                  or call us at (877) 250-4337 for volume discounts.
        .span8
          %form(method="POST" action="/signup" autocomplete="off")
            %fieldset
              %legend
                Monitor Everything
                %br
                in One Minute
              != this.render("marketing/signup_fields")
              .actions(style="background:none;border:none;margin-top:0px")
                %button.btn.primary(type="submit" value="Create Account" tabindex=6)
                  %b Start FREE 30-Day Trial »                
                %br
                %br              
                %p
                  %span.label(style="font-size:14px")> Next:
                  Paste one line in your terminal.
      .row
        .grayblock
          %h3 If you have any questions, please <a href="mailto:questions@dxdt.io">email us</a> or call (877) 250-4337
        .vspace
        .span16
          .row
            .span16
              %h2 FAQ
            .span8
              %h3 How does the 30-day trial work?
              Sign up and start monitoring servers.  A couple weeks before the end of your trial, we'll politely ask you to enter your billing information and you will be billed on the day after your trial ends for the following month.  If for some reason we aren't a good fit, then we'll put your account on hold until further notice.  If you get busy and forget to put in all your info, we have a grace period so you won't lose any data.
              .vspace
              %h3 When will I be billed?
              You will be billed the day after your trial ends for the following month. You will be billed every month thereafter.
              .vspace
              %h3 Do you take American Express?
              Yep.  We accept Visa, MasterCard, AmEx, and Discover. After you log in, you can add your card using the "Account" link at the top right of the page.  If none of these options work for you, we can accept check, purchase order and <a href="http://en.wikipedia.org/wiki/Fictional_currency" target="_blank">gold-pressed latinum</a> by special arrangement only. You may pay via check if you pre-pay for a year in advance. To pay via check, please <a href="mailto:payment@dxdt.io">email us.</a>
            .span8
              %h3 What if I add more servers than my plan?
              If you start monitoring more servers than are in your plan, we'll politely email you and ask you to upgrade.  Don't worry! You won't lose any data or face any crazy fees.  We do business like people should.
              .vspace
              %h3 Do you offer performance consulting?
              Yes, professional services are available starting at $150<span class="unit">/hr.</span>  We can help you install, analyze your data, plan capacity, configure servers and advise you on best-practices.
              .vspace
              %h3 Is there a minimum commitment?
              There is no long-term obligation; dxdt is a month-to-month service.  If you cancel, you will not be billed again.
              .vspace
              %h3 Do you support Windows?
              Not yet. Please <a href="mailto:windows@dxdt.io">email us</a> and we'll tell you when we add windows support.
          .vspace2

:javascript
  $(function(){
    $('#email').focus();
  })