-
  this.crumbs = [["/account", "Account"]]

.row
  .span4.leftnav
    .nav-category
      %h3 
        .ico ♛
        %a(href="/account") Account
      .listing
        %a(href="/account/start-monitoring") Start Monitoring
  .span12
    %h1 Account Information
    .row
      .span11.column
        %h4 Database Id
        = account.dbId
        %h4 Plan
        = account.plan
        .vspace2
        = JSON.stringify(account)
      .span11
        %h2 Primary User Info
        %h4 Email
        = user.email
        %h4 Cell Phone
        = user.phone
