.page-header
  %h1><
    dxdt.io
    %small>< Process Monitoring

%b Server:#{serverId} > PID:#{pid}
%ul
  %li
    Started at: #{start.toString()}.

%pre
  != this.renderLive("replace", "pidRow", process)

!= this.renderLive("simpleFlot", "cpu", cpu)

!= this.renderLive("simpleFlot", "mem", mem)
