!!!
%html
  != '<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">'
  != '<meta http-equiv="content-language" content="en">'
  %head
    %link(rel="stylesheet" href="/app.css?#{q}" media="all")
    %script{src: "/transitive.js?#{q}"}
    %script{src: "/templates.js?#{q}"}
    :script
      Transitive = require("./transitive");
      Transitive.Views.templates = require("./templates.js");
      jQuery = $;
      if(window.console){}else{
        console = {};
        console.log = function(){}
      }
    %script{src: "/jquery.flot.js?#{q}"}
    %script{src: "/jquery.flot.selection.js?#{q}"}
    != "<!--[if lt IE 9]>"
    != '<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>'
    != "<![endif]-->"

    %title
      dxdt.io Change over time
  %body
    %div( class="topbar")
      %div( class="fill")
        %div( class="container")
          %h3
            %a.logo(href="/account/dashboard")
              %img(src="/logotype-small.png" width="52px" height="22px")
          %ul
            %li
              %a(href="/account/dashboard") Home
            :if this.crumbs
              :each crumb in this.crumbs
                %li
                  %a.skinny
                    \/
                %li
                  %a{href: crumb[0]}= crumb[1]
          %ul.secondary-nav
            %li
              %form
                %input.search
            %li.dropdown(style="margin-left:10px")
              %a(href="/logout") Log Out
    .app
    .container.main.workspace
      != content
    %center(style="letter-spacing:1px")
      %br
      %br
      &copy; 2011 <b>X</b>itive, Inc
      %br
      %br
    .clear
    :script
      !{etc}
      Transitive.boot();
