!!!
!= '<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">'
%html
  %head
    %link(rel="stylesheet" href="/app.css" media="all")
    %script{src: "/socket.io/socket.io.js"}
    %script{src: "/transitive.js"}
    %script{src: "/templates.js"}
    :script
      Transitive = require("./transitive");
      Transitive.Views.templates = require("./templates.js");
      jQuery = $;
      if(window.console){}else{
        console = {};
        console.log = function(){}
      }
    %script{src: "/jquery.flot.js"}
    %script{src: "/jquery.flot.selection.js"}
    != "<!--[if lt IE 9]>"
    != '<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>'
    != "<![endif]-->"

    %title
     dX-dT.com Change over time
  %body
    %div( class="topbar")
      %div( class="fill")
        %div( class="container")
          %h3
            %a(href="#" style="font-family:Monaco;font-weight:bold") dx-dt
          %ul
            %li
              %a(href="/") Home
          .sep
          %ul
            %li
              %a(href="#masthead") Staging
            %li
              %a
                > 
            %li
              %a(href="/server") Web Server 1
            %li
              %a
                >
            %li
              %a(href="/about") Processes
          %ul.secondary-nav
            %li
              %form
                %input(placeholder="Search ")
            %li.dropdown(style="margin-left:50px")
              %a.dropdown-toggle(href="#toggle") Account
              %ul.dropdown-menu
                %li
                  %a(href="#") secondary-link
                  
              
    %div(style="margin-top:40px")
    .container
      != content
    :script
      !{etc}
      Transitive.boot();

