!!!
!= '<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">'
%html
  %head
    %title
      dxdt.io Change Over Time
    %link(rel="stylesheet" href="/app.css?#{q}" media="all")
    %script{src: "/transitive.js?#{q}"}
    %script{src: "/templates.js?#{q}"}
    :script
      Transitive = require("./transitive");
      Transitive.Views.templates = require("./templates.js");
      jQuery = $;
      if(window.console){}else{
        console = {};
        console.log = function(){}
      }
    %script{src: "/jquery.flot.js?#{q}"}
    %script{src: "/jquery.flot.selection.js?#{q}"}
    %script{src: "/twipsy.js?#{q}"}
    != "<!--[if lt IE 9]>"
    != '<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>'
    != "<![endif]-->"


  %body.marketing
    %div( class="topbar")
      %div( class="fill")
        %div( class="container")
          %h3
            %a(href="/" style="letter-spacing:3px;")
              %img(src="/logotype-small.png" width="52px" height="22px")
          %ul
            %li
              %a(href="/features") Features
            %li
              %b
                %a(href="/plans") Plans & Pricing
            %li
              %a(href="/support") Support
            %li
              %a(href="/Documentation") Documentation
          %ul.secondary-nav
            %li
              %form
                %input.username(placeholder="Email Address")
                %input.password(placeholder="Password" type="password")
                %a.login(href="#toggle") Log In
            %li
    != content
    %center
      %br
      %br
      &copy; 2011 <b>X</b>itive, Inc
    :script
      !{etc}
      Transitive.boot();
      $(function () {
        $("a[rel=twipsy]").twipsy({
          live: false,
          animate: false
        })
      })

