!!!
!= '<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">'
%html
  %head
    %link(rel="stylesheet" href="/app.css?#{q}" media="all")
    %script{src: "/transitive.js?#{q}"}
    %script{src: "/templates.js?#{q}"}
    :script
      Transitive = require("./transitive");
      Transitive.Views.templates = require("./templates.js");
      jQuery = $;
      if(window.console){}else{
        console = {};
        console.log = function(){}
      }
    %script{src: "/jquery.flot.js?#{q}"}
    %script{src: "/jquery.flot.selection.js?#{q}"}
    != "<!--[if lt IE 9]>"
    != '<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>'
    != "<![endif]-->"

    %title
     dX-dT.com Change over time
  %body
    %div( class="topbar")
      %div( class="fill")
        %div( class="container")
          %h3
            %a(href="#" style="letter-spacing:3px;")
              %img(src="/logotype-small.png" width="52px" height="22px")
          %ul
            :if this.crumbs
              :each idx in this.crumbs
                %li
                  %a(href=idx[0])= idx[1]
          %ul.secondary-nav
            %li
              %form
                %input.username(placeholder="Username")
                %input.password(placeholder="Password" type="password")
                %a.login(href="#toggle") Log In
            %li
                  
    .clear(style="margin-top:22px")
      != content
    :script
      !{etc}
      Transitive.boot();

